html {
    background-color: #171719;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: hsl(36deg 53% 55%);
    padding: 0, 0;
    margin: auto;
    height: 100%;
    width: 100%;
    display: table;
}

#vertical-center {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0, 0
    text-align: center;
}

#flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}
#screen { 
    /* border: 2px solid black; */
    background-image: linear-gradient(#171719, black);
    /* border-radius: 5px; */
    color: #b8c2f2;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    text-align: center;
    width: 490px;
    height: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    /* margin-bottom: 35px; */
}

#container {
    /* border: 2x solid black; */
    background-color: hsl(240deg 5% 9%);
    color: #242222;
    /* border-radius: 5px; */
    display: grid;
    width: 490px;
    grid-template-columns: auto auto;
}

#signoff {
}

.buttons-left {
    padding: 35px 0px 35px 35px;
    /* background-image: linear-gradient(#0d0d0e, #171719); */
    background-image: linear-gradient(#171719, #0d0d0e);
}
.buttons-right {
    padding: 35px 17.5px 35px 17.5px;
    /* background-image: linear-gradient(#0d0d0e, #171719); */
    background-image: linear-gradient(#171719, #0d0d0e);
}
.button-holder-left {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
    background-color: #0a0a0a;
    width: 210px;
    border-radius: 30px;
}
.button-holder-right {
    display: grid; 
    grid-template-columns: 70px 70px;
    grid-template-rows: 70px 70px 70px;
    background-color: #0a0a0a;
    width: 140px;
    border-radius: 30px;

}
/* .button {
    background: radial-gradient(#242222, #0d0d0e);
    border-radius: 30px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 5px 5px 5px 5px;
} */
.selected {
    background: radial-gradient(#181616, #000000);
}

.double-width {
    width: 130px;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

.double-width-text {
    width: 123px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
}

button {
    background: radial-gradient(#242222, #0d0d0e);
    text-align: center;

    border-style: none;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 2em; */
    font-size: 1.25em;
    color: hsl(36deg 53% 55%);
    border-radius: 30px;
    padding: auto;
    margin: auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 5px 5px 5px 5px;
}

button:focus {
    outline: none;
}

button.operand:focus {
    border: 1px solid #b8c3f275;
    border-radius: 50px;
    background: radial-gradient(#0d0d0e, #171719);
}

.selected {
    border: 1px solid #b8c3f275;
    border-radius: 50px;
    background: radial-gradient(#0d0d0e, #171719);
}

button:active {
    border: 1px solid #b8c3f275;
    border-radius: 50px;
    background: radial-gradient(#0d0d0e, #171719);
}

.multiply {
    line-height: 68px;
}

.clear {
    font-size: 0.9em;
}
.backspace { 
    font-size: 0.9em;
}

p#signoff {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    color: #0d0d0e;
    width: 100%;
    text-align: center;
    line-height: 170%;
    padding-top: 35px;
}

#links {
    color: #0d0d0e;
    text-decoration: none;
    border-bottom: 1px solid black;
}

#links:hover {
    color: #d8def5;
    border-bottom: 1px solid #d8def5;

}